= flash[:notice]
= flash[:alert]
= link_to "Skip Login", data_path
- if(!current_user)
  %h1 LOGIN PLEASE !!
  = form_with scope: :session, url: login_path, local: true do |form|
    .field
      = form.label :username
      = form.text_field :username
    .field
      = form.label :password
      = form.password_field :password
    .actions
      = form.submit "Login"
