@import 'adminlte.min'; // AdminLte CSS has Bootstrap imported already.
@import 'dataTables/jquery.dataTables';

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
  border: 1px solid #828282;
}
 
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: none;
  color: black!important;
}