.col-sm-2.col-form-label-sm
  .form-group
    %label.text-secondary Sort Options :
.col-sm-3.mb-3
  %select.form-control.task-filter-height#sort-options
    %option{value: "0"} Recent Projects
    %option{value: "1"} Project
    %option{value: "2"} Username
    %option{value: "3"} Category