%html
  %body
    = link_to "logout", logout_path if current_user
    = link_to "login", login_path if !current_user
    .content-wrapper
      / Content Header (Page header)
      .content-header
        .container-fluid
          .row.mb-2
            .col-sm-6
              %h1.m-0.text-dark Data

      .content
        .row
          = render 'sorting_options'
          .col-12
            .card
              .card-body.table-responsive
                %table#projects.display{"data-source" => "#{data_url(format: "json")}"}
                  %thead
                    %tr
                      %th Project Title
                      %th Username
                      %th Category
